<template id="sp-fab-template">
  <div class="sp-fab">
    <button class="sp-fab__button" aria-label="Crear nuevo registro">
      <span>+</span>
    </button>
    <ul class="sp-fab__menu">
      <li data-type="donacion" data-form="donacion">Nueva Donación</li>
      <li data-type="donante" data-form="donante">Nuevo Donante</li>
      <li data-type="caso" data-form="caso">Nuevo Caso</li>
      <li data-type="gasto" data-form="gasto">Nuevo Gasto</li>
      <li data-type="hogar" data-form="hogar">Nuevo Hogar</li>
      <li data-type="proveedor" data-form="proveedor">Nuevo Proveedor</li>
    </ul>
  </div>
</template>
